*
{margin:0;padding:0;box-sizing:border-box}
html{scroll-behavior:smooth}
:root{--primary-color:#004D00;--secondary-color:#FF8C00;--accent-color1:#FFF;--accent-color2:#E5FFE5;--accent-color3:#001700}
body{font-family:Rubik,sans-serif}
header{background-color:var(--accent-color2);width:100%;padding:0}
#header-container{display:grid;grid-template-columns:1fr auto;align-items:center}
.logo-logoName{display:flex;align-items:center}
.logo{height:3rem;margin:2rem}
.logo-name{font-size:.8rem;font-weight:600;color:var(--primary-color)}
.navigation{display:flex;flex-direction:column;align-items:center}
.navigation li{display:none}
.header-list a:link,.header-list a:visited{display:inline-block;text-decoration:none;color:var(--accent-color1);font-weight:600;font-size:.8rem;transition:all .3s}
.header-list a:hover{color:var(--accent-color);text-decoration:underline}


#menu{
  width: 2.4rem;
  height: 0.4rem;
  background-color:var(--secondary-color);
  position: absolute;
  cursor: pointer;
  right: 1rem;
  top: 3rem;
  border-radius:4px ;
  
}
#menu::before,#menu::after{
  content: "";
  width: 2.4rem;
  height: 0.4rem;
  background-color:var(--secondary-color);
  position: absolute;
  border-radius: 4px;
  transition: 0.3s;

}

.home-hero-section.show{
  padding-top: 2rem;
} 
#menu::before{
  top:-0.6rem;
}
#menu::after{
 top:0.7rem;
}
#menu.show{
  background-color: transparent;
}
#menu.show::before{
  transform: rotate(-45deg);
  top: 0;
  background-color:var(--accent-color1)
}
#menu.show::after{
  transform: rotate(45deg);
  top: 0;
  background-color: var(--accent-color1)
}
.logo-name.show, .logo.show{
  display: none;
}
#header-container.show{
 
  background-color: var(--primary-color);
  padding:2rem 4rem 2rem 2rem;
 
 
 
}
ul li{
  list-style: none;
}
.navigation.show li{
  display: block;
  color: #006400 ;
  padding: 1rem;
  
}
.navigation.show{
  box-shadow: 4px 4px 4px  rgba(0, 0, 0, 0.3);
  margin: 1rem 0 2rem 0;
}

ul li{list-style:none}

.home-hero-section{display:flex;flex-direction:column;gap:2rem;padding:1rem 0 0 0}
.hero-info{display:flex;flex-direction:column;gap:2rem;padding:2rem;opacity:0;transform:translateX(-100%);animation:slide .8s ease-out forwards}.hero-heading{font-size:2rem;color:var(--primary-color);letter-spacing:1.2px}.hero-paragraph{font-size:1.2rem;color:#333;font-weight:300;line-height:1.2}.hero-img{width:100%;padding:1rem;transform:translateX(100%);opacity:0;animation:slide .8s ease-out forwards}@keyframes slide{to{transform:translateX(0);opacity:1}}.cta-btns{display:flex;flex-direction:column;justify-content:center;gap:1.2rem}.btn:link,.btn:visited{display:inline-block;padding:.6rem;text-decoration:none;font-weight:700;text-align:center;border-radius:10px;transition:all .3s ease}.home-contact:link,.home-contact:visited{background-color:var(--secondary-color);color:var(--accent-color3)}.service-btn:link,.service-btn:visited{color:#004d00;border:1px solid #006400}.home-contact:active,.home-contact:hover{background-color:var(--primary-color);color:var(--secondary-color)}
.service-btn:hover,.service-btn:visited{border:1px solid #fdc500;color:#006400}
.partners{padding:2rem}.partner-heading{text-align:center;color:#006400;font-weight:700;margin-bottom:1rem}.partner-logos{display:flex;flex-direction:column;align-items:center;gap:1rem;padding:2rem;box-shadow:4px 4px 4px 4px rgba(246,188,96,.1)}.partner-logos img{width:100%;max-width:6rem}.card-section{padding:1rem 2rem}.cards{display:grid;grid-template-columns:1fr;gap:2rem;padding:2rem;box-shadow:4px 4px 4px rgba(0,0,0,.1)}.card-title{font-size:1rem;color:#006400;text-transform:capitalize}.card{display:flex;flex-direction:column;gap:1rem;align-items:center}.card-info{color:#555;line-height:1.2}.learn-more:link,.learn-more:visited{display:inline-block;text-decoration:none;color:var(--accent-color3);border-bottom:2px solid #002900;padding:.2rem .2rem;border-radius:4px;text-align:center}.service-section{padding:2rem 0}.services{display:grid;grid-template-columns:1fr;gap:2rem;align-items:center;justify-content:center;padding:2rem}.service-box{display:flex;padding:2rem;box-shadow:2px 2px 2px 2px rgba(0,0,0,.1);flex-direction:column;align-items:center;gap:1rem;border-radius:10px;background-color:var(--accent-color2)}.service span{color:var(--primary-color);text-align:center;font-size:1.2rem}.service-list{display:flex;flex-direction:column;gap:.5rem;color:#555}
.service-list li{list-style-type:circle}.service-info{display:flex;flex-direction:column;align-items:center;gap:1rem}.service-heading{font-size:1.2rem;color:var(--primary-color)}.service-paragraphy{font-size:1rem;color:#333;font-weight:300;line-height:1.4;padding:0 1rem;text-align:center}.service-link:link,.service-link:visited{display:inline-block;padding:1rem 1rem .2rem 1rem;margin:1rem 0 1rem 1rem;text-decoration:none;color:#001700;border-bottom:1px solid var(--secondary-color)}.service-link:active,.service-link:hover{color:#f8be4c}.service-icon{color:var(--secondary-color);font-size:2rem;font-weight:700;border-radius:50%;padding:.6rem;box-shadow:4px 4px 4px 4px rgba(0,0,0,.1)}.service-container{padding:.6rem;display:none}.track-main-box{display:grid;grid-template-columns:1fr;align-items:center;gap:1rem}.track-img-container{margin-bottom:2rem}.track-section h4{text-align:center;font-size:1.6rem;color:var(--primary-color);margin-bottom:2rem}.track-section h5{text-align:center;color:#444;font-size:1rem;margin-bottom:1rem}.track-img{display:block;height:auto;width:100%;max-width:600px}.track-container{display:flex;flex-direction:column;align-items:center;gap:1rem;padding:2rem;margin-bottom:1rem}.track-container span{display:block;text-align:center;margin-bottom:.6rem;font-size:1.8rem;font-weight:600}.track-para{color:#555;font-size:.9rem}.green{color:#006400}.yellow{color:#4d824d}form{padding:2rem}.form-container{max-width:402px;margin:0 auto;display:flex;flex-direction:column;gap:1rem;background-color:#b3edb3;color:#002900;padding:1rem;border-radius:10px;backdrop-filter:blur(30px);-webkit-backdrop-filter:blur(30px);border:1px solid rgba(255,255,255,.6)}input,select{display:block;padding:.6rem;border-radius:6px;border:none;background-color:#d8f0d4}.form-heading{text-align:center;margin-bottom:1rem;font-size:1.2rem;color:var(--primary-color)}label{display:block;color:var(--primary-color)}
.news-btn{margin:0 auto;text-decoration:none;font-weight:700;text-align:center;font-size:1rem;border-radius:10px;border:none;color:var(--accent-color1);background-color:var(--primary-color);transition:.3s all;cursor:pointer}.news-btn:hover{background-color:#006400}.about-header,.contact-header{width:100%;background-image:linear-gradient(to bottom,rgba(0,0,0,.6),rgba(254,242,12,.6)),url(../images/nitussss.webp);background-position:center;background-size:cover;height:50vh;display:flex;flex-direction:column;gap:1rem;align-items:center;justify-content:flex-end}.about-header-container,.contact-header-container{padding:2rem 6rem 2rem 6rem;box-shadow:0 2px 15px rgba(68,70,68,.4);margin-bottom:4rem}.about-heading,.contact-heading{font-weight:700;color:#006400;font-size:1.6rem;margin-bottom:.4rem}.about-navigation,.contact-navigation{display:flex;align-items:center;gap:1rem;justify-content:center}.about-header-span,.contact-header-span{color:#006400;font-size:.6rem;font-weight:700}.about-navigation li a:link,.about-navigation li a:visited,.contact-navigation li a:link,.contact-navigation li a:visited{text-decoration:none;color:#fff;font-weight:700;font-size:.8rem}.about-navigation li a:active,.about-navigation li a:hover,.contact-navigation li a:active,.contact-navigation li a:hover{color:#006400;text-decoration:underline}#about-header{background:linear-gradient(to bottom,rgba(32,15,6,.8),rgba(3,88,19,.2)),url(../images/about-us.webp);background-size:cover;background-position:center;background-repeat:no-repeat}#about-header a:link,#about-header a:visited,#about-header p,h1{color:#e5ffe5}#about-header h1{text-align:center;padding-bottom:1rem}
.our-story{display:flex;flex-direction:column;gap:2rem;padding:0 1rem 2rem 1rem}
.our-story-img{width:100%;border-radius:2px}
.story-heading,
.values-heading{text-align:center;font-size:1.4rem;margin:2rem 0 1rem 0;font-weight:700;color:#006400}
.about-paragraphy{text-align:center;font-size:1rem;color:#555;line-height:1.2}
.vision-and-mission{display:grid;grid-template-columns:1fr;gap:.4rem;padding:1rem 2rem 1rem 2rem}
.mission-heading,.vision-heading{color:#006400;font-size:1.4rem;margin:0 0 1rem 0;font-weight:600}
.mission-paragraphy,.vision-paragraphy{font-size:1rem;color:#555;line-height:1.2;margin-bottom:1rem}
.our-commitment,.our-mission,.our-vision{padding:2rem}
.commitment{display:flex;flex-direction:column;gap:1rem;background-color:var(--accent-color2);padding:2rem}
.commit-heading{color:#002900;font-size:1.2rem;font-weight:700}
.commitment-paragraphy{font-size:1rem;padding-left:1rem;font-style:italic;color:var(--primary-color)}
.our-team-section{padding:2rem;margin-bottom:2rem}
.team-members-heading{color:#002900;text-align:center;font-size:1rem;padding:0 2rem .6rem 2rem;border-bottom:2px solid #b3edb3}
.our-team-members{display:grid;grid-template-columns:1fr;gap:2rem}
.team-member-container{display:grid;grid-template-columns:1fr;gap:1rem;box-shadow:0 2px 8px rgba(0,0,0,.15);border-radius:10px;overflow:hidden}.team-member-info{display:flex;flex-direction:column;gap:1rem;padding:0 1rem 2rem 1rem}
.team-member span{display:block}
.team-member-container img{width:100%}
.member-name{font-size:1.4rem;font-weight:600;color:var(--primary-color)}.member-title{color:#006400}.about-member{color:#555;font-size:1rem}.member-social-links{display:flex;gap:1rem}.member-social-links a:active,.member-social-links a:link{font-size:1.2rem;display:inline-block;color:var(--secondary-color);text-decoration:none}.member-media-icon{font-weight:900;font-size:1.6rem}.values-container{display:grid;grid-template-columns:1fr;align-items:center;margin-bottom:1rem}.value{display:flex;flex-direction:column;align-items:center;gap:1rem;padding:1rem}.value-icon{color:var(--secondary-color);font-size:1.6rem;padding:1REM;border-radius:50%;box-shadow:4px 4px 4px rgba(0,0,0,.1)}.value h4{color:#002900}.value p{font-size:1rem;color:#555}.contact-us{padding:1rem}
.contact-box{padding:2rem;display:flex;flex-direction:column}
.get-in-touch{display:flex;padding:2rem;flex-direction:column;gap:1.2rem;background-color:#f2fff2}
.contact-us h2{color:var(--accent-color3);font-size:1.2rem}
.get-in-touch p{color:#333}

.in-touch-box{display:flex;align-items:center;gap:.6rem}
.in-touch-info{display:flex;flex-direction:column;gap:.6rem}
.get-in-touch h3{color:var(--primary-color);font-weight:600;font-size:1rem}
.contact-form{display:flex;flex-direction:column;padding:2rem;gap:1rem;background-color:#b3edb3}textarea{width:100%;text-align:center;padding:1rem}.follow-us{display:flex;flex-direction:column;gap:1rem}.follow-us-icons{display:flex;flex-direction:row;gap:1rem}
.follow-us-icons a:link,.follow-us-icons a:visited{display:inline-block}
.contact-media-icon{display:inline-block;color:var(--secondary-color)}
.map{padding:2rem}iframe{width:100%}
#about-header{
  background:linear-gradient(to bottom,rgba(32,15,6,.8),rgba(3,88,19,.2)),url(../images/about.webp);background-size:cover;background-position:center;background-repeat:no-repeat
}
#contact-header{background:linear-gradient(to bottom,rgba(32,15,6,.8),rgba(3,88,19,.2)),url(../images/contact.webp);background-size:cover;background-position:center;background-repeat:no-repeat}#contact-header a:link,#contact-header a:visited,#contact-header p,h1{color:#e5ffe5}#contact-header h1{text-align:center;padding-bottom:1rem}footer{background-color:var(--primary-color);padding:1rem;color:var(--accent-color1)}.footer-container{display:grid;grid-template-columns:1fr}.contact-heading,.media-heading,.quick-link-heading{margin:1rem 0 1rem 1rem;font-size:1.2rem;color:var(--accent-color1)}.quick-lists{display:flex;flex-direction:column;gap:1rem}.quick-link-list a:link,.quick-link-list a:visited{text-decoration:none;color:var(--accent-color2);font-size:1rem;margin:1rem 0 1rem 1rem}
.quick-link-list a:active,.quick-link-list a:hover{text-decoration:underline}
.social-lists{display:flex;gap:1rem;align-items:center;margin:1rem 0 1rem 1rem}
.social-lists a:link,.social-lists a:visited{display:inline-block;color:var(--secondary-color)}
.copy-right{text-align:center;padding:1rem}

.icon-contact{display:flex;align-items:center;gap:1rem;margin:0 0 0 1rem}
.footer-contact-info{display:flex;flex-direction:column;gap:1rem}.contact-icon{color:var(--secondary-color)}
.copy-right{color:var(--accent-color2);text-align:center}.footer-heading{color:var(--accent-color1)}
@media (min-width:468px){.cta-btns{flex-direction:row}
.nav-color{color:var(--primary-color)}
.btn:link,.btn:visited{padding:1rem 4rem}.cards{grid-template-columns:1fr 1fr 1fr;box-shadow:none}
.card{box-shadow:4px 4px 4px 4px rgba(0,0,0,.1);padding:2rem 1rem;border-radius:10px;margin-top:-6rem;background-color:var(--accent-color2)}.partner-logos{flex-direction:row;justify-content:space-around;background-color:#002900}.navigation{flex-direction:row;gap:1rem;padding:2rem}.navigation li{display:block}.navigation li a:link,
.navigation li a:visited{
    color: var(--primary-color);
}
.contact-btn:link,.contact-btn:visited{background-color:var(--secondary-color);color:var(--accent-color3)!important;padding:.6rem .4rem;border-radius:10px}#menu{display:none}
.track-container{display:grid;grid-template-columns:1fr 1fr;gap:2rem}.track-box{display:flex;flex-direction:column;align-items:center}.footer-container{grid-template-columns:1fr 1fr 1fr;gap:2rem;padding:1rem}.social-lists{flex-direction:column}.media-logo-link{align-items:center;padding:.6rem;border:1px solid var(--accent-color2);border-radius:50px}.service-link:link,.service-link:visited{display:none}.service-container{display:block}.home-header{background:linear-gradient(rgba(4,82,17,.1),rgba(12,88,3,.1)),url(../images/img-1.webp);height:50vh;background-size:cover;background-position:center;background-repeat:no-repeat}.header-list a:link,.header-list a:visited,.logo-name{color:var(--secondary-color)}#contact-header a:link,#contact-header a:visited,#contact-header p,h1{color:#e5ffe5}
}
@media(min-width:470px){
    .logo-name{
        display: none;
        color: var(--primary-color);
    }
}
@media (min-width:1000px){.home-header{background:0 0;background-color:var(--accent-color2);width:100%;height:fit-content}footer,header,main{max-width:70rem;margin:0 auto}.header-list a:link,.header-list a:visited,.logo-name{color:var(--secondary-color)}.track-img-container{display:grid;grid-template-columns:1fr 1fr}.home-hero-section{flex-direction:row;align-items:center}
.services{grid-template-columns:1fr 1fr}.track-main-box{max-width:980px;margin:0 auto;grid-template-columns:1fr 1fr;box-shadow:4px 4px 4px 4px rgba(0,0,0,.1);padding:2rem}.track-main-box img{width:100%;height:auto;display:block}.our-story{width:100%;max-width:50rem;margin:2rem auto;flex-direction:row;justify-content:space-around;align-items:center;padding:2rem;background-color:var(--accent-color2)}.our-story img{width:100%;max-width:50%}.our-story-info{width:100%;max-width:50%}.vision-and-mission{display:grid;grid-template-columns:1fr 1fr;align-items:center;width:100%;max-width:70rem;margin:2rem auto}.vis-mis-heading{text-align:center}.values-container{display:grid;grid-template-columns:1fr 1fr;align-items:center;gap:2rem}
.our-team-members{padding:2rem;display:grid;grid-template-columns:1fr 1fr 1fr;gap:2rem}
.contact-box{flex-direction:row ;
    width:100%;
    max-width:50rem;
    margin:-4rem auto 2rem auto}
.logo-name{
    display: block;
    color: var(--primary-color);
}
    .get-in-touch{gap:3rem}.footer-container{grid-template-columns:1fr 1fr 1fr}}
#about-header h1,#contact-header h1{padding-bottom:4rem}h1{transform:translateY(100%);opacity:0;animation:slideIn 1s ease-out forwards}@keyframes slideIn{to{transform:translateY(0);opacity:1}}#header-container{transform:translateY(-100%);opacity:0;animation:slide 1s ease-out forwards}@keyframes slide{to{transform:translateY(0);opacity:1}}
