body{
  display: grid;
  grid-template: auto auto auto/ 1fr auto  ;
  gap: 1rem;
  font-family: "Rubik",sans-serif;
  padding: 4rem;
}
header{
  grid-column: 1/-1;
  padding: 0 2.4rem;
  
}
h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;

}
.card{
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
 

}
.headings{
  text-align: center;
  background-color: rgb(249, 45, 45);
  margin-top: 0;
  padding: 1.8rem;
  color: #000;
  font-weight: 700;

}
.country-title{
  margin: 0 auto;
  width: 50%;
  text-align: center;
  border-bottom: 1px solid rgb(116, 114, 114);
  margin-bottom: 2rem;
}
.about h3{
 font-size: 1.2rem;
 color: #000;

  
}
main{
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template:auto/2fr 1fr;
  gap: 2.4rem;
  padding: 0 2.4rem;
}
.about{
  background-color:#fff;
  grid-column: 1/2;
}
.resources{
  background-color:#fff;
  grid-column: 2/3;
}
header span{
  display: block;
  background-color:#000;
  color: #fff;
  padding: 2.4rem;
  font-size: 2rem;
  text-align: center;
}
header nav{
  background-color: rgb(241, 238, 36);
  padding: 0.2rem 4.8rem;
}
header ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 1.8rem;
}
nav a:link,
nav a :visited
{
  text-decoration: none;
  font-size: 0.6rem;
}
nav a:hover,
nav a:active,
nav a:focus{
  color: rgb(32, 8, 32);
  font-style: italic;
  text-decoration: underline;
}
.about-me{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2.2rem;
}
.about-me img{
  width: 100%;
 
}
.about-img{
  padding: 2.4rem;
}
.about-info{
  padding: 2.4rem;
  font-size: 1rem;
}
.my-country{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2.2rem;
}
.country-info{
  padding-right: 3.2rem;
  font-size: 1rem;
}


footer{
  grid-column: 1/-1;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 0 2.4rem;
}
  figcaption{
    text-align: center;
    font-style: italic;
    font-size: 0.6rem;
    padding: 1rem 0;
}
.resource-nav{
  padding: 4rem 0 0 2rem;
}

.dev-img{
  width: 100%;}
  .dev-img-container{
    padding: 2.4rem;
  }
  .resources-lists{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }
  .resources-lists li a{
    font-size:0.6rem ;
  }
  .resource-links:link,
.resource-links:visited{
  display: inline-block;
  text-decoration: underline;
}
figure img{
  width: 100%;
}