*{
margin: 0;
padding: 0;
box-sizing: border-box;
 }

 :root {
  --primary-color: #330033;
  --secondary-color: #800080;
  --background-color: #f2e6f2;
  --font-family: "Rubik", sans-serif;
}

body{
  font-family: var(--font-family);
  background-color:var(--background-color); 
  color: var(--primary-color);
  
}
/* HEADER */
#headerHeading {
  font-size: 1rem;
  
  text-align: left;
  padding: 1rem 1.2rem 1rem 1rem;
}
header,main,footer{
  margin: 0 auto;
}
.navigation{
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

}
.navigation a{
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--primary-color);
  
  display: none;
  transition: 0.3s;
  
 
}

.navigation a:hover{
  color:var(--secondary-color);

  
  
}
/* BUILDING HAMBURGER MENU */
#menu{
  width: 2.2rem;
  height: 0.3rem;
  background-color:var(--primary-color);
  position: absolute;
  top:1.8rem ;
  right: 1rem;
  cursor: pointer;
  transition: 0.3s;
  
}
#menu::before,
#menu::after{
  content: "";
  width: 2.2rem;
  height: 0.3rem;
  background-color: var(--primary-color);
  position: absolute;
  transition: 0.3s;
}
#menu::before{
  top: -0.5rem;
  
}
#menu::after{
  top: 0.5rem;
}
     /* Rotate hamburger to form X */
     #menu.open{
      background-color: transparent;
      
     }
     #menu.open::before{
      transform: rotate(-45deg);
      top: 0;
      background-color:var(--background-color);
     }
     #menu.open::after{
      transform: rotate(45deg);
      top: 0;
      background-color: var(--background-color);
     }
     .navigation.open a{
      display: block;
      color: #f2e6f2;
     }
     #headerHeading.open{
      display: none;
     }
     header.open{
      background-color: var(--primary-color);
      padding: 0 0 1rem 0;
      
     }
.navigation.open a:hover{
  color: var(--secondary-color);
}
.navigation.open li:first-child{
  margin-top: 2rem;
}
/* TEMPLE IMAGE SECTION */
.heading{
  text-align: center;
  margin: 2rem 0;
}
.temple-images{
  display: grid;
  grid-template-columns: 1fr;
}
figure{
  padding: 1rem;
}
.temple{
  width: 100%;
}
figcaption{
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1.4rem;
  color: #330033;
  
}
footer{

  text-align: center;
  font-size: 1rem;
  border-top: 1px solid #800080;

}
footer p{
  margin: 1rem 0;
}